@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/containerAlb.css" />
</head>

<style>
    body {
        background-color: #5b0013;
        color: white; /* White text for the entire body */
    }

    h1 {
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p, a {
        color: white; /* White text for paragraphs and links */
    }

    a {
        text-decoration: underline; /* Underline for clickable links */
    }

        a:hover {
            color: #ffcccc; /* Light pink for hover effect */
        }

</style>

<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center form-container">
    <div class="col-md-6">
        <div>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>
